#main {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.error {
    color: red;
    text-align: center;
    font-weight: bold;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0;
}

#header button {
    margin: 0 0.5em;
}

/* Account */
.accountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    padding: 1em;
}

/* Expenses */
.expense {
    display: flex;
}

.expense .datetime {
    text-decoration: underline;
    margin-right: 0.5em;
}

.expense .amount {
    font-weight: bold;
    margin-right: 0.5em;
}

.expense button {
    margin-left: auto;
}

.expensesTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

/* Reset */
h1,
h3 {
    margin: 0;
}